@page
@model Pizzeria.Pages.Checkout.CheckoutModel
@{
}

<h1>Your Order!</h1>
@{
    var imgPath = "~/images/Pizzas/" + @Model.ImageTitle + ".png"; 
}
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img src=@imgPath class="w-100" asp-append-version="true" />
        <p>Your order for the @Model.PizzaName Pizza is ready!</p>
        <p>Total price for your order is: @Model.PizzaPrice $</p>
        <br />
        <a class="btn alert-primary nt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>
    </div>
</div>